<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板过滤器</title>
</head>
<body>

<h3> 'length'返回字符串 {{ string }} 的长度 {{ string|length }}</h3>
<h3> 'capfirst'返回字符串 {{ string }} 的首字母大写 {{ string|capfirst }}</h3>
<h3> 'upper'返回字符串 {{ string }} 的全部大写 {{ string|upper }}</h3>
<h3> 'lower'返回字符串 {{ string }} 的全部小写 {{ string|lower }}</h3>
<h3> 'truncatechars'返回字符串 {{ string }} 的前几个字符 {{ string|truncatechars:8 }}</h3>
<h3> 'date'处理时间 {{ time|date:'Y/m/d H:i:s' }} </h3>
<h3> 'add'处理数字 {{ num|add:5 }} </h3>
<h3> 'safe'过滤器 {{ info|safe }} </h3>
<h3> no'safe'过滤器 {{ info }} </h3>

</body>
</html>